<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <title>WebJars Demo</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
  </head>
  <body>
  <form action="#" th:action="@{/rule}" th:object="${ruleobj}" method="post" class="form">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Request Pattern" th:field="*{requestPattern}"/>
      <input type="text" class="form-control" placeholder="Key Pattern" th:field="*{keyPattern}"/>
      <p><input type="submit" value="Submit" /></p>
    </div>
  </form>
  <h3>Current Rules</h3><hr/>   
  <table class="table">
    <tr th:each="rule : ${rules}">
      <td th:text="${rule.id}"></td>
      <td th:text="${rule.requestPattern}"></td>
      <td th:text="${rule.keyPattern}"></td>
    </tr>
  </table>
  </body>
</html>